/*** Messages *********************************************************************/
/* Regex: .*reddit\.com\/message.*                                                */
/**********************************************************************************/
.content[role="main"] {
	position: fixed;
	left: calc(var(--folders-width) - 269px);
	top: calc(var(--banner-height) - 48px);
	margin-top: 8px;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
	padding: 0 17px 9px 12px;
	width: calc(100vw - var(--folders-width) - var(--actions-width) + 488px);
	height: calc(var(--content-height) + 30px);
	min-height: calc(var(--content-height) + 30px);
	max-height: calc(var(--content-height) + 30px);
	overflow-y: scroll;
}

.footer-parent {
	display: none;
}

.embedded-page .content > .sitetable,
.embedded-page.helpcenter-page .content,
.embedded-page.compose-page .content,
.embedded-page.personalization-page .content {
	margin: 0;
	width: 100%;
	min-width: 100%;
}
