/*** Root / Subreddit / Multis ****************************************************/
/*** Regex: .*reddit\.com\/($|(r|[^user]|user\/.+\/m)\/.+\/)                   ****/
/**********************************************************************************/

/* Search Bar (Fixed Positioned to Top of Mailbox) */
#SearchDropdown {
	visibility: visible;
	position: fixed;
	left: var(--folders-width);
	top: var(--banner-height);
	margin-left: 20px;
	margin-top: 8px;
	height: 20px;
	pointer-events: all;
}
	#SearchDropdown > label {
		position: absolute;
		top: 0;
		right: 0;
		margin-top: 0;
		margin-right: 10px;
	}
		#SearchDropdown > label > svg {
			position: absolute;
			top: 0;
			right: 0;
			fill: #3676B7;
			transform: scaleY(0.68) scaleX(-0.68);
		}

	#SearchDropdown > form > input {
		border-color: #686868;
		border-radius: 0;
		padding-left: 7px;
		height: 20px;
		width: 173px;
		background-color: #363636;
		font-family: "Segoe UI";
		font-size: 8pt;
	}
		#SearchDropdown > form > input::placeholder {
			color: #9E9E9E;
		}

/* Sort Dropdown */
button#ListingSort--SortPicker {
	display: block;
	visibility: visible;
	position: fixed;
	z-index: 2;
	top: calc(var(--banner-height) + 37px);
	left: 426px;
	margin: 0;
	padding-left: 9px;
	padding-right: 7px;
	padding-top: 5px;
	padding-bottom: 6px;
	width: auto;
	height: 20px;
	background-color: var(--background-color);
	line-height: 12px;
	text-transform: capitalize;
	cursor: default;
}
	button#ListingSort--SortPicker:hover {
		background-color: #0072C6;
	}

	button#ListingSort--SortPicker:focus {
		outline: 1px dotted white;
		box-shadow: none;
	}

	button#ListingSort--SortPicker:active:focus {
		outline: 1px dotted orange
	}

	button#ListingSort--SortPicker > :nth-child(1) {
		display: none;
	}

	button#ListingSort--SortPicker > * {
		position: relative;
		top: -3px;
	}

	button#ListingSort--SortPicker > span {
		color: #F0F0F0;
		font-family: "Segoe UI", IBMPlexSans, "Helvetica Neue", Helvetica, Verdana, Arial, sans-serif;
		font-size: 12px;
		font-weight: 100;
		line-height: 12px;
	}
		button#ListingSort--SortPicker > span::before {
			content: "By ";
		}

	button#ListingSort--SortPicker > i {
		top: -4px
	}

div[class^="SubredditVars-r-"] > div[role="menu"] {
	position: absolute;
	z-index: 3;
	left: 325px !important;
	overflow-y: hidden;
	border: 1px solid #5E5E5E;
	border-radius: 0;
	box-shadow: none;
	width: 165px;
}

	div[class^="SubredditVars-r-"] > div[role="menu"]::before {
		content: "Sort";
		display: block;
		border: 1px solid #363636;
		border-bottom: 2px solid #363636;
		padding: 4px 9px 9px;
		width: 145px;
		height: 9px;
		background-color: #4A4A4A;
		font-family: "Segoe UI";
		font-size: 12px;
		font-weight: bold;
	}

	div[class^="SubredditVars-r-"] > div[role="menu"] > a {
		background-color: #363636;
		margin: 0;
		padding: 2px 0 2px 0;
		height: 20px;
	}

		div[class^="SubredditVars-r-"] > div[role="menu"] > a > span {
			color: #F0F0F0;
			font-size: 9pt;
		}

	div[class^="SubredditVars-r-"]> div[role="menu"] > a:hover {
		background-color: #505050
	}

/*** Mailbox **********************************************************************/
/* BOOKMARK: Mailbox 1 */
/* Fix this if the whole post background (without a post) and a portion of the right
   turns black */
div.qYj03fU5CXf5t2Fc5iSvg > :nth-child(1) {
	display: none;
}

/* Subreddit Banner */
div.qYj03fU5CXf5t2Fc5iSvg > :nth-child(2) > :nth-child(1) {
	display: none;
}

/* BOOKMARK: Mailbox 2 */
div._1OVBBWLtHoSPfGCRaPzpTf {
	position: fixed;
	margin-top: 8px;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	padding-right: 21px;
	padding-top: 72px;
	left: var(--folders-width);
	top: var(--banner-height);
	height: calc(var(--content-height) - 80px);
	min-height: calc(var(--content-height) - 80px);
	max-height: calc(var(--content-height) - 80px);
	overflow-y: scroll;
	width: calc(var(--mailbox-width) - 15px);
	background-color: var(--background-color) !important;
}

	div._1OVBBWLtHoSPfGCRaPzpTf > :nth-child(1) {
		display: none;
	}

	div._1OVBBWLtHoSPfGCRaPzpTf > :nth-child(2) {
		visibility: hidden;
		margin: 0;
		border: 0;
		height: 0;
	}

		div._1OVBBWLtHoSPfGCRaPzpTf > :nth-child(2) > :nth-child(1) {
			display: block;
		}

	div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0 {
		display: block;
		left: calc(var(--folders-width));
		top: calc(var(--banner-height) + 80px);
		height: calc(var(--content-height) - 80px);
		min-height: calc(var(--content-height) - 80px);
		max-height: calc(var(--content-height) - 80px);
		overflow-y: scroll;
		width: calc(var(--mailbox-width) - 15px);
		background-color: var(--background-color) !important;
	}

		div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0::before {
			content: url(https://i.imgur.com/uiXG0I4.png);
			position: fixed;
			z-index: 1;
			left: calc(var(--folders-width) + 1px);
			top: calc(var(--banner-height) + 1px);
			background-color: var(--background-color);
		}

		div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0:hover {
			width: calc(var(--mailbox-width));
		}

			/* Scrollbar */
			div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0:hover::-webkit-scrollbar {
				display: block;
				width: 15px;
			}

			div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0:hover::-webkit-scrollbar-track {
				background: #343434;
			}

			div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0:hover::-webkit-scrollbar-thumb,
			div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0:hover::-webkit-scrollbar-button {
				border: 1px solid #3B3B3B;
				background: #575757;
			}

				div._1OVBBWLtHoSPfGCRaPzpTf > div.rpBJOHq2PR60pnwJlUyP0:hover::-webkit-scrollbar-thumb:hover {
					border-color: #101010;
					background: #808080;
				}

				div._1OVBBWLtHoSPfGCRaPzpTf > :nth-child(2):hover::-webkit-scrollbar-button:hover {
					border: 1px solid #3B3B3B;
					background: #707070;
				}

	/* Unrendered Posts */
	/* Commented this out because when viewing messages directly, it hides the message. */
	/*
	div._1OVBBWLtHoSPfGCRaPzpTf > :last-child {
		display: none;
	}
	*/


/*** Mailbox > Individual Messages ************************************************/
div.s1nu6uif-0.GsVvZ > :nth-child(2) > :nth-child(4) {
	padding: 0;
}

	div.s1nu6uif-0.GsVvZ > :nth-child(2) > :nth-child(4) > :nth-child(1) > :nth-child(1) > div {
		border-bottom: 1px solid #626262;
		border-left: 0;
		border-right: 0;
		border-collapse: collapse;
		margin-left: 9px;
		margin-right: 3px;
		height: 62px;
	}

		div.s1nu6uif-0.GsVvZ > :nth-child(2) > :nth-child(4) > :nth-child(1) > :nth-child(1) > div > div {
			height: 62px;
		}
/*** Mailbox > Individual Messages > Content **************************************/
.scrollerItem.Post {
	margin: 0;
	border: 0;
	padding: 0;
	height: 62px;
}
	/* Cumbersome upvote/downvote thing */
	.scrollerItem.Post > div > :nth-child(1) {
		display: none;
	}

	/* Everything Else */
	.scrollerItem.Post > div > :nth-child(2) {
		border-left: 0;
		padding-top: 0;
		padding-bottom: 0;
		background-color: var(--background-color) !important;
	}

		.scrollerItem.Post > div > :nth-child(2) > div {
			padding-left: 24px;
			border-bottom: 1px solid var(--border-color);
			height: 61px;
		}
			/* Icon */
			.scrollerItem.Post > div > :nth-child(2) > div > a,
			.scrollerItem.Post > div > :nth-child(2) > div > button {
				position: absolute;
				right: 0;
				padding: 0;
				margin: 0;
			}

			/* Body */
			.scrollerItem.Post > div > :nth-child(2) > div > div[data-click-id="body"] {
				height: 100%;
			}

				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] div:nth-child(3) {
					position: absolute;
					bottom: 0;
					width: 100%;
				}

				/* Awards */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] div:nth-child(5) {
					position: absolute;
					right: 20%;
					bottom: 0;
					padding: 0;
				}

				/* Post Title */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] {
					position: absolute;
					top: 0;
					width: 100%;
				}
				
				.scrollerItem.Post > div > :nth-child(2) > div > div[data-click-id="body"] > div {
					width: calc(100% - 75px);
				}
				
				.scrollerItem.Post > div > :nth-child(2) > div > div[data-click-id="body"] h3 {
					color: #F0F0F0;
					font-family: "Segoe UI";
					font-size: 10pt;
					font-weight: 100;
					line-height: 10pt;
				}

				/* Subreddit */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] [data-click-id="subreddit"] {
					color: #F0F0F0;
					font-family: "Segoe UI";
					font-size: 10pt;
					font-weight: 100;
					line-height: 10pt;
				}

				/* Stupid-ass bullet point */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] [role="presentation"] {
					display: none;
				}

				/* Username */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] [href*="user"] {
					color: #F0F0F0 !important;
					font-family: "Segoe UI";
					font-size: 10pt;
					font-weight: 100;
					line-height: 10pt;
				}

				/* Flair */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] a[href*="flair_name"] {
					display: none;
				}

				/* Timestamp */
				.scrollerItem.Post > div > :nth-child(2) > div > [data-click-id="body"] [data-click-id="timestamp"] {
					position: absolute;
					right: 0;
					bottom: 4px;
				}

			/* Coments & "..." */
			.scrollerItem.Post > div > :nth-child(2) > div > :nth-child(4) {
				position: absolute;
				right: 0;
				top: 0;
			}

				/* Comments */
				.scrollerItem.Post > div > :nth-child(2) > div > :nth-child(4),
				.scrollerItem.Post > div > :nth-child(2) > div > :nth-child(4) a {
					padding: 0;
					width: auto;
				}
				
				/* "..." */
				.scrollerItem.Post > div > :nth-child(2) > div > :nth-child(4) div {
					display: none;
				}

	/* Hover */
	.scrollerItem.Post:hover > div > :nth-child(2) > div {
		background-color: #383838;
		box-shadow: inset 2px 0 #383838, inset 0 2px #383838, inset 0 -2px #383838, inset 5px 0 #C4C4C4;
	}

	/* Link */
	.scrollerItem.Post [rel="noopener noreferrer"] {
		display: none;
	}
	
	/* Advertisements */
	.scrollerItem.Post.promotedlink {
		display: none !important;
		visibility: hidden !important;
		width: 0 !important;
		min-width: 0 !important;
		max-width: 0 !important;
		height: 0 !important;
		min-height: 0 !important;
		max-height: 0 !important;
	}
/************************************** Content < Individual Messages < Mailbox ***/
/************************************************ Individual Messages < Mailbox ***/
/********************************************************************** Mailbox ***/
